---
layout: base
---
{% assign t = site.data.locales[page.lang][page.lang] %}
<div id="header" class="{{ page.header-class }}">
  <a href="https://spdx.org/licenses/MIT.html" target="_blank">
  <img alt="license badge" src="https://img.shields.io/github/license/DidierMalenfant/toybox.py">    
  </a>
  <a href="https://python.org" target="_blank">
  <img alt="Python version badge" src="https://img.shields.io/pypi/pyversions/toyboxpy.svg">
  </a>
  <a href="https://pypi.org/project/toyboxpy" target="_blank">
  <img alt="latest PyPI version badge" src="https://img.shields.io/pypi/v/toyboxpy.svg">
  </a>
  <a href="https://github.com/DidierMalenfant/toybox.py/actions/workflows/python-package.yml">
  <img alt="unit test badge" src="https://github.com/DidierMalenfant/toybox.py/actions/workflows/python-package.yml/badge.svg">
  </a>
</div>
<div id="information">
  <ul>
    <li>
      <div class="group row">
        <h2 id="install">{{ t.pagecontent.install.install }}</h2>
        <br>
        <div class="copyable">
          {%- highlight bash -%} pip install toyboxpy {%- endhighlight -%}
        </div>
        <br>
        <br>
        <div class="col-1">
          <p>{{ t.pagecontent.install.paste }}</p>
        </div>
        <div class="col-2">
          <p>{{ t.pagecontent.install.what }}</p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="question">{{ t.pagecontent.question }}</h2>
        <br>
        <div class="col-1">
          <p>{{ t.pagecontent.what }}</p>
        </div>
        <div class="col-2">
          {% highlight bash %}
          $ toybox add modplayer
          $ toybox update {% endhighlight %}
          {{ t.pagecontent.then }}
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="question">{{ t.pagecontent.whatisthere }}</h2>
        <br>
        <p>{{ t.pagecontent.herearesamples}}</p>
        <div class="col-1">
          <p id="title"><img alt="toyboxpy logo" src="{{ "/assets/img/toybox-449x449.png" | relative_url }}" width="16" height="16"> <a href="https://github.com/DidierMalenfant/pdbase">pdbase</a> (C/Lua)</p>
          <p>{{ t.pagecontent.pdbasedesc }}</p>
          <p><img alt="toyboxpy logo" src="{{ "/assets/img/toybox-449x449.png" | relative_url }}" width="16" height="16"> <a href="https://github.com/DidierMalenfant/playbox2d">playbox2d</a> (Lua)</p>
          <p>{{ t.pagecontent.playbox2ddesc }}</p>
        </div>
        <div class="col-2">
          <p><img alt="toyboxpy logo" src="{{ "/assets/img/toybox-449x449.png" | relative_url }}" width="16" height="16"> <a href="https://github.com/DidierMalenfant/tiled-uo">Tiled Up</a> (Lua)</p>
          <p>{{ t.pagecontent.tileddesc }}</p>
          <p><img alt="toyboxpy logo" src="{{ "/assets/img/toybox-449x449.png" | relative_url }}" width="16" height="16"> <a href="https://github.com/DidierMalenfant/modplayer">modplayer</a> (Lua)</p>
          <p>{{ t.pagecontent.modplayerdesc }}</p>
        </div>
      </div>
    </li>
    
    <li>
      <div class="group row">
        <h2 id="toyboxpy-community">{{ t.pagecontent.doc.community }}</h2>
        <div class="button">
          <p><a href="https://github.com/DidierMalenfant/toybox.py/discussions">toybox.py/discussions</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="toyboxpy-blog">{{ t.pagecontent.doc.blog }}</h2>
        <div class="button">
          <p><a href="/blog/">toyboxpy.io/blog</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="toyboxpy-community">{{ t.pagecontent.doc.socials }}</h2>
        <br>
        <div class="button">
          <p>{{ t.pagecontent.doc.sociallinks }}</p>
        </div>
      </div>
    </li>
    
    <li>
      <div class="group row credits">
        <p>{{ t.pagecontent.foot.code }} {{ t.pagecontent.foot.page }}<br>{{ t.pagecontent.foot.translation }}</p>
      </div>
    </li>
  </ul>
</div>
